.places__info {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.075;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

@media (max-width: 544px) {
    .places__info {
        font-size: 43px;
    }
}

@media (max-width: 320px) {
    .places__info {
        font-size: 32px;
    }
}